/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Employee REVIVAL MIMI?
   ========================================================================== */

/*Header start*/
*{
  padding: 0;
  margin: 0;
}
header{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9.5vh;
}
.menu{
  display: flex;
  align-items: center;
  min-width: 35.47%;
  height: 100%;
}
.menu a{
  font-size: 16px;
}
.menu hr{
  height: 100%;
  color: #D9D9D9;
}
.link_header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}
.link_header a{
  text-decoration: none;
  color: black;
}
.link_header:hover {
  transform: scale(1.05);
  z-index: 1;
  transition: transform .3s;
}
.address_map{
  display: flex;
  align-items: center;
}
.address_map-text a{
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 14px;
  color: red;
}
.address_map-logo{
  margin-right: 10px;
}
.On_text{
  margin-bottom: 5px;
}
.img_On a{
  margin-right: 10px;
}

/*Header end*/


