/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Employee REVIVAL MIMI?
   ========================================================================== */

/*Header start*/
:root{
  --font-family: "Muller", sans-serif;
  --second-family: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  /*font-family: "Muller", sans-serif;*/
}

header{
    display: flex;
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 10vh;
    border-top: 1px solid rgba(0,0,0,.1);

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
    height:100%;
    border-right: 1px solid rgba(0,0,0,.1);
    margin-left: 7.2%;
    padding-top: 1.3vh;

}
/*Burger start*/

.menu{
  display: none;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger{
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger:last-child{
  width: 20px;
}
.logo_burger{
  margin-left: 20px;
}
.line_burger{
  height: 0.5px;
  width: 100%;
  background: #d9d9d9;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 100%;
  height: 75%;
}
.menu-item {
  display: block;
  padding: 8px;
  color: #000000;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}


/*Burger end*/
.logo a{
    transition: .5s;
}

.logo a:hover{
    transform: scale(1.1);
}

.internet-shop{
  font-size: 1rem;
  font-family: 'Muller';
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0,0,0,.1);
  width: 8%;
  height:100%;
}

.internet-shop a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
}

.internet-shop a:hover{
  color: rgb(104, 96, 96);
}

.price-cards{
  display: flex;
  justify-content: center;
  width:10%;
  align-items: center;
  border-right: 1px solid rgba(0,0,0,.1);
}

.price-cards a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.price-cards a:hover{
  color: rgb(104, 96, 96);

}

.espechial-order{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 10%;
  border-right: 1px solid rgba(0,0,0,.1);
}

.espechial-order a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.espechial-order a:hover{
  color: rgb(104, 96, 96);

}

.stiles-makers{
  display: flex;
  justify-content: center;
  align-items: center;
  width:8%;
  height:100%;
  border-right: 1px solid rgba(0,0,0,.1);
}

.stiles-makers a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.stiles-makers a:hover{
  color: rgb(104, 96, 96);

}

.location-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3%;
}

.location{
  width:15%;
  height:100%;
}

.location{
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-link-mg{
  margin-top: 2%;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 14px;
  margin-top: 6%;
}
.location-link-mg a{
  color:red;
  text-transform: lowercase;

}

.location-link-mg a:hover{
  color:brown
}

.contacts-icon{
  width:10%;
  height:100%;
}

.contacts-icon{
  display: flex;
  justify-content: center;
  align-items: center;

}
.contacts_header{
  display: flex;
  flex-direction: column;
}
.icons{
  margin-top: 3%;
  margin-bottom: 3%;
}

.icons a{
  left:0;
  margin-top: 3%;
  padding-right: 4%;
}
.footer_burger{
  display: flex;
  justify-content: space-around;
}
.map_burger{
  margin-top: 10px;
  width: 50%;
}
.map_burger p{
  margin-bottom: 15px;
}
.map_burger a{
  color: #bb3024;
  text-underline-offset: 3px;
}
.contact_burger{
  margin-top: 10px;
}
.icon_burger{
  margin-bottom: 5px;
}
.icon_burger img{
  margin-right: 5px;
}
.contact_burger p{
  margin-bottom: 5px;
}

/*Header end*/
/*Bespoke start*/

.Bespoke{
  height: 70vh;
}
.image_Bespoke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/png/image_button_header.png") no-repeat;
  height: 100%;
}
.text_Bespoke{
  padding-left: 10.2%;
}
.text_Bespoke h1{
  font-family: var(--font-family);
  font-weight: 250;
  font-size: 55px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;

}
.text_Bespoke p{
  color: #ffffff;
  font-style: italic;
  font-weight: lighter;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 18px;
}
.text_Bespoke button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  /*padding: 51px 46px 51px 33px ;*/
  padding: 0.5%;
  border: 3px solid #ffffff;
  border-radius: 80px;
  width: 25%;
  cursor: pointer;
  font-size: 16px;
}
.circle{
  background: url("../img/png/more.png") no-repeat;
  background: #BB3024;
  padding:25px 30px;
  border-radius: 50%;
  margin-left: 10%;
  box-shadow:0 0 10px red;
  font-style: italic;
}
.text_Bespoke button:hover{
  transform: scale(1.05);
  z-index: 1;
  transition:  .6s;
}
.circle:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: .3s;
}
/*Bespoke end*/
/*garant start*/

.garant{
  display: flex;
  justify-content: space-between;
  height: 70vh;
  width: 90%;
}
.garant_left {
  background: url("../img/png/Blue_Means.png") no-repeat ;
  height: 100%;
  width: 200%;
}
.garant_right{
  display: flex;
  flex-direction: column;
  font-family: 'Muller',sans-serif;
  margin-top: 5%;
  margin-left: 10%;
}

.garant_right h2{
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #353535;
}

.bottom_text p{
  margin-top: 1.5%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
/*garant end*/

/*Clothing start*/

.clothing{
  height: 55vh;
  background: url("../img/png/Ткани.png") no-repeat right;
}
.text_clothing{
  padding-top: 13%;
  margin-left: 15%;
  color: #ffffff;
}
.text_clothing h2{
  font-size: 28px;
  padding-bottom: 1.5%;
  font-weight: 100;
}
.text_clothing p {
  max-width: 26.5%;
  font-weight: 100;
}

/*Clothing end*/
/*section_absolute-info start*/

.section_absolute-info{
  position: absolute;
  top: 140%;
  left: 25%;
  color: #ffffff;
  width: 55%;
  height: 25%;
  border: 1px solid #7E7E7E;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8); /* Черный цвет с 50% прозрачностью */
  backdrop-filter: blur(10px); /* Эффект размытия фона */
}

.info_block{
  display: flex;
}

.info_block:first-child{
  margin-left: 10%;
}
.info_absolute2{
  margin-left: 15%;
  margin-top: 5%;
  width: 22%;
}
.info_absolute3{
  margin-left: 15%;
  margin-top: 5%;
  width: 20%;
}
.info_absolute{
  margin-top: 5%;
  width: 20%;
}
.info_absolute p{
  margin-top: 5%;
}
.info_absolute2 p{
  margin-top: 5%;
}
.info_absolute3 p{
  margin-top: 5%;
}
/*section_absolute-info end*/
/*work start*/

.work{
  display: flex;
  justify-content: space-between;
  float: right;
  height: 72vh;
  width: 100%;
}
.text_work-block{
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  margin-left: 20%;
  width: 70%;
}
.text_work-block h2{
  font-size: 32px;
  font-weight: 100;
  color: #353535;
}
.text_work-block p{
  margin-top: 3%;
  color: #414141;
}
/*work end*/
/*work_thing start*/

.work_thing{
  position: absolute;
  top: 258%;
  left: 16%;
  width: 83.91%;
  color: #ffffff;
  border: 1px solid #7E7E7E;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8); /* Черный цвет с 50% прозрачностью */
  backdrop-filter: blur(10px); /* Эффект размытия фона */
  border-right: none;
  z-index: 5;
}
.work_thing img{
  width: 100%;
}
.flex_work_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work_thing-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work_thing-text h2{
  margin-right: 15%;
  font-size: 32px;
  font-weight: 100;
}
.work_thing-text p{
  margin-top: 2%;
  width: 60%;
}

/*work_thing end*/
/*Technology start*/

.technology{
  height: 68.7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.technology_fon{
  width: 35%;
  height: 100%;
  background: #000000;
  box-shadow: 150px 0 40px rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.technology_image{
  width: 75%;
  height: 100%;
  background: url("../img/png/work_maket.png") no-repeat;
}
.text_technology{
  margin-top: 65%;
  margin-left: 70%;
  color: #ffffff;

  min-width: 70%;
}
.text_technology h2{
  font-size: 30px;
  font-weight: 100;
}
.text_technology p{
  margin-top: 5%;
  font-size: 16px;
  font-weight: 100;
}

/*Technology end*/

/*processing_shop start*/
.processing_shop{
  height: 100vh;
}
.title_processing{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.grid_processing{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  height: 70%;
  grid-row-gap: 20%;
  margin-right: 15%;
  margin-left: 15%;
}
.block_grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block_grid h2{
  font-size: 90px;
  font-weight: bold;
  background: linear-gradient(180deg, #dfdfdf 62.5%, rgba(244, 244, 244, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block_grid h3{
  margin-bottom: 3%;
}
.text_grid{
  margin-bottom: 5%;
}
.time{
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.more_grid-processing{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 70%;
  margin-left: 15%;
  border: 1px solid #D9D9D9;
  background: #FBFBFB;
  margin-top: 5%;
}
.left_more-processing{
  display: flex;
  padding-left: 10%;
  align-items: center;
  font-size: 18px;
  width:60%;
}
.right_more-processing{
  display: flex;
  justify-content: center;
  width: 40%;
  height: 50%;
}
.right_more-processing button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 1%;
  border: 1px solid #D9D9D9;
  border-radius: 80px;
  width: 80%;
  cursor: pointer;
  font-size: 16px;
  height: 80%;

}
.but{
  background: url("../img/png/more.png") no-repeat;
  background: #BB3024;
  border-radius: 50%;
  margin-left: 10%;
  box-shadow:0 0 10px red;
  font-style: italic;
  padding: 20px;
}
.right_more-processing:hover{
  transform: scale(1.05);
  z-index: 1;
  transition: .3s;
}
.but:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: .3s;
}
/*processing_shop end*/
/*last_slide start*/

.last_slide{
  height: 100vh;
  margin-top: 12%;
  background: #FBFBFB;
}
.height_row{
  display: flex;

}
.our_work{
  background: url("../img/png/Rectangle 36.png") no-repeat;
  height: 30vh;
  width: 67%;
  color: #000000;
}
.our_work p{
  position: relative;
  display: flex;
  justify-content: right;
  color: #ffffff;
  font-style: italic;
  font-size: 48px;
  padding-top: 3%;
  margin-right: 5%;
}
.arrow{
  display: flex;
  margin-top: 3.3%;
  margin-left: 10.6%;

}
.arrow321{
  padding: 16px;
  border: 1px solid #D9D9D9;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.arrow321:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: .3s;
}
.arrow321 img:hover{
  transform: scale(1.2);
  z-index: 1;
  transition: .3s;
}
.low_row{
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: -23%;
  margin-left: -3%;
}
.see_left{
  width: 50%;
  z-index: 2;
}
.see_left p{
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  margin-top: 23.6%;
  margin-left: 13.5%;
}
.see1{
  position: absolute;
  background: url("../img/png/more.png") no-repeat;
  background: #BB3024;
  border-radius: 50%;
  margin-left: 14%;
  box-shadow:0 0 10px red;
  font-style: italic;
  padding: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19%;
}
.see1:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: .3s;
}
.see2{
  position: absolute;
  background: url("../img/png/more.png") no-repeat;
  background: #BB3024;
  border-radius: 50%;
  margin-left: 10%;
  box-shadow:0 0 10px red;
  font-style: italic;
  padding: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
  max-height: 3%;
}
.see_right p{
  position: absolute;
  margin-top: 15.3%;
  margin-left: 9.5%;
  color: #ffffff;
  font-size: 20px;
}
.see2:hover{
  transform: scale(1.1);
  z-index: 1;
  transition: .3s;
}
.see_right:hover{
  z-index: 3;
  transform: scale(1.2);
  transition: .3s;
  .see2{
    margin-top: 85%;
    margin-left: 70%;
  }
  .my_error_text{
    margin-left: 70%;
    margin-top: 115%;
  }
}
.see_right{
  width: 50%;
  z-index: 1;
  margin-top: 30%;
  margin-left: 15%;
}
.row_image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 15%;
}
.grid_image_low{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  width: 50%;
  margin-top: -20%;
  grid-gap: 3%;
}

/*last_slide end*/

/*footer start*/

footer{
  display: flex;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 10vh;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 30px;
}

.logo_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
    height:100%;
    border-right: 1px solid rgba(0,0,0,.1);
    margin-left: 7.2%;
    padding-top: 1.3vh;

}
.logo_footer a{
    transition: .5s;
}

.logo_footer a:hover{
    transform: scale(1.1);
}

.internet-shop_footer{
  font-size: 1rem;
  font-family: 'Muller';
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0,0,0,.1);
  width: 8%;
  height:100%;
}

.internet-shop_footer a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
}

.internet-shop_footer a:hover{
  color: rgb(104, 96, 96);
}

.price-cards_footer{
  display: flex;
  justify-content: center;
  width:10%;
  align-items: center;
  border-right: 1px solid rgba(0,0,0,.1);
}

.price-cards_footer a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.price-cards_footer a:hover{
  color: rgb(104, 96, 96);

}

.espechial-order_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 10%;
  border-right: 1px solid rgba(0,0,0,.1);
}

.espechial-order_footer a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.espechial-order_footer a:hover{
  color: rgb(104, 96, 96);

}

.stiles-makers_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width:8%;
  height:100%;
  border-right: 1px solid rgba(0,0,0,.1);
}

.stiles-makers_footer a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;

}

.stiles-makers_footer a:hover{
  color: rgb(104, 96, 96);

}

.location-logo_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3%;
}

.location_footer{
  width:15%;
  height:100%;
}

.location_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.location-link-mg_footer{
  margin-top: 2%;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 14px;
  margin-top: 6%;
}
.location-link-mg_footer a{
  color:red;
  text-transform: lowercase;

}

.location-link-mg_footer a:hover{
  color:brown
}

.contacts-icon_footer{
  width:10%;
  height:100%;
}

.contacts-icon_footer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.contacts_footer{
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}
.icons_footer{
  margin-top: 30px;
  margin-bottom: 3%;
}

.icons_footer a{
  left:0;
  margin-top: 3%;
  padding-right: 4%;
}

/*footer end*/

/*Sewing start*/

.Sewing_end{
  background: url("../img/png/fon_end_slide.png");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sewing_info{
  /*width: 44%;*/
  /*height: 35%;*/
  height: 341px;
  width: 750px;
  display: flex;
  flex-direction: column;
  background: #FBFBFB;
  border: 1px solid #D9D9D9;
}
.Sewing_info a{
  display: flex;
  padding-top: 3%;
  margin-left: 93%;
  width: 30px;
  height: 30px;
}
.Sewing_info a:hover{
  transform: scale(1.2);
  transition: .3s;
}
.title_Sewing{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  font-variant: all-small-caps;
  color: #000;
  /*margin-top: 3%;*/
  margin-left: 5%;
}
.info_people{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.info_people input{
  width: 290px;
  height: 40px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.great{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.great_radio{
  display: flex;

}
.great_radio p{
  font-weight: 400;
  font-size: 16px;
}
.great_radio input{
  accent-color: #BB3024;
  padding: 5px;
  border: 4px solid #7e7e7e;
  background: #000000;
  margin-right: 20px;
}
.Sewing_button{
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #353535;
  margin-right: -50px;
}
.Sewing_button button{
  width: 325px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 30px;
  align-items: center;
  border: 0.70px solid #d9d9d9;
  border-radius: 87px;
  cursor: pointer;
  font-size: 20px;
  background: #ffffff;
}
.Sewing_button button:hover{
  transform: scale(1.2);
  transition: .3s;
  .more_sewing:hover{
    transform: scale(1.1);
    transition: .3s;
  }
}
.more_sewing{
  padding: 20px;
  border-radius: 100%;
  background: #BB3024;
  box-shadow:0 0 10px red;
}
/*Sewing end*/
@media (max-width: 800px) {
  .Sewing_info a{
    margin-left: 85%;
  }
  .Sewing_info{
    width: 360px;
    height: 517px;
  }
  .info_people{
    display: flex;
    flex-direction: column;
  }
  .info_people input{
    margin-top: 10px;
  }
  .great{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .Sewing_button{
    margin-top: 20px;
    margin-left: -50px;
  }
}
@media(max-width: 1560px){
  .internet-shop,.price-cards,.espechial-order,.stiles-makers,.location,.contacts-icon,.location-logo{
    display: none;
  }
  .menu{
    display: initial;
    margin-left: 70%;
    margin-top: 45px;
    text-transform: lowercase;
  }
  .internet-shop_footer,.price-cards_footer,.espechial-order_footer,.stiles-makers_footer,.stiles-makers_footer{
    display: none;
  }
  footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 25%;
    height: 330px;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .logo_footer{
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  .logo{
    border: none;
    align-content: center;
  }
  .location-logo_footer{
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
  }
  .location-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .contacts-icon_footer{
    margin-top: 10px;
  }
  .location_footer{
    width: 100%;
    align-content: center;
  }
  .contacts_footer{
    width: 100%;
  }
  .contacts_footer p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .icons_footer{
    width: 100%;
    min-width: 150px;
  }
  .last_slide{
    display: none;
  }
    .text_Bespoke button {
    width: 350px;
  }
}
@media(max-width: 1400px){
  .text_work-block{
    position: absolute;
    margin-top: 10%;
  }
  .text_work-block h2{
    color: #ffffff;
  }
  .text_work-block p{
    color: #ffffff;
    width: 400px;
  }
  .text_clothing h2{
    margin-top: 13%;
  }
  .work_right{
    width: 100%;
  }
  .work_right img{
    width: 100%;
    height: 100%;
  }
  .section_absolute-info{
    width: 70%;
  }
  .work_thing-text h2{
    margin-left: 20%;
  }
  .left_more-processing {
    font-size: 14px;
    padding-left: 30px;
    width: 55%;
  }
  .right_more-processing button {
    width: 300px;
  }
}
@media(max-width: 992px){
  .text_work-block{
    position: absolute;
  }
  .text_work-block h2{
    color: #ffffff;
  }
  .text_work-block p{
    color: #ffffff;
    width: 400px;
  }
  .text_clothing h2{
    margin-top: 10%;
  }
  .section_absolute-info{
    width: 90%;
    left: 5%;
  }
  .garant_left{
    width: 400%;
    text-align: center;
    margin-left: -250px;
  }
  .work_thing{
    top: 270%;
  }
  .text_technology{
    width: 100%;
  }
  .grid_processing {
    grid-column-gap: 15%;
  }
  .right_more-processing button{
    width: 300px;
  }
  .left_more-processing{
    font-size: 14px;
    padding-left: 30px;
    width: 55%;
  }
  .logo_footer{
    margin-top: 50px;
  }
  .work_thing-text h2{
    margin-left: 100px;
  }
  .contacts_footer p{
    min-width: 200px;
    margin-left: -20px;
  }
  .work_thing{
    width: 100%;
    left: 0;
  }
  .work_thing-text h2{
    margin-left: 20%;
  }
  .work_thing img{
    width: 100%;
    height: 100%;
  }
  .text_technology p{
    min-width: 150%;
  }
  .more_grid-processing {
    width: 100%;
    margin-left: 0;
  }
  .image_Bespoke{
    background: url(../img/png/image_button_header.png) no-repeat center;
  }
}
@media(max-width: 768px){
  .menu p{
    font-size: 13px;
  }
  .garant_left{
    display: none;
  }
  .section_absolute-info{
    left: 0;
    width: 100%;
  }
  .text_clothing h2{
    margin-top:20%;
  }
  .text_clothing p{
    max-width: 80%;
  }
  .work_thing{
    width: 100%;
    left: 0;
  }
  .text_work-block h2{
    margin-top: 20%;
  }
  .grid_processing{
    grid-template-columns: repeat(2, 3fr)
  }
  .more_grid-processing{
    margin-top: 40%;
  }
  footer{
    margin-top: 40%;
  }
  .logo_footer{
    margin-top: 10%;
  }
  .technology_fon{
    width: 10%;
    height: 100%;
    background: #000000;
    box-shadow: 50px 0 30px rgba(0, 0, 0, 0.9);
    z-index: 1;
  }
  .technology_image{
    width: 90%;
    background: url(../img/png/work_maket.png) no-repeat left;
  }
  .text_technology h2{
    margin-top: 150px;
  }
  .text_technology p{
   min-width: 300px;
  }
}
@media(max-width: 730px){
  .more_grid-processing{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 20%;
    margin-top: 50%;
  }
  footer{
    margin-top: 60%;
  }
  .left_more-processing {
    font-size: 14px;
    width: 90%;
  }
  .left_more-processing p{
    margin-top: 20%;
    font-size: 16px;
  }
  .right_more-processing{
    width: 100%;
  }
  .right_more-processing button{
    width: 380px;
    margin-top: 70px;
  }
  footer{
    margin-top: 80%;
  }
  .icons_footer{
    margin-right: 0;
  }
}
@media(max-width: 630px){
  .logo{
    margin-left: 90px;
  }
  .menu{
    margin-left: 55%;
  }
}
@media(max-width: 530px){
  .text_Bespoke{
    padding-left: 15%;
    margin-top: 125%;
  }
  .text_Bespoke button{
    border: 1px solid #d9d9d9;
  }
  .info_block{
    flex-direction: column;
  }
  .garant{
    height: 85vh;
  }
  .garant_right{
    margin-top: 20%;
  }
  .section_absolute-info {
    position: static;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .info_block:first-child{
    margin-left: 0;
  }
  .info_block:last-child{
    margin-bottom: 20px;
  }
  .work{
    height: 50vh;
    margin-bottom: -200px;
  }
  .work_thing{
    position: static;
    display: flex;
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    margin-top: -100px;
  }
  .work_thing-text{
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 70px;
    margin-left: 40px;
  }
  .work_thing-text p{
     width: 80%;
  }
  .flex_work_box{
    display: flex;
    flex-direction: column-reverse;
  }
  .work_thing-text h2{
    margin: 0;
  }
  .info_absolute{
    margin-left: 25%;
    width: 50%;
  }
  .info_absolute2{
    margin-left: 25%;
    width: 50%;
  }
  .info_absolute3{
    margin-left: 25%;
    width: 50%;
  }
  .technology_fon{
    width: 0;
  }
  .technology_image{
    width: 100%;
    height: 50vh;
  }
  .text_technology{
    margin-left: 100px;
  }
  .text_technology h2{
    margin-bottom: 15px;
  }
  .grid_processing {
    grid-template-columns: repeat(1, 6fr);
  }
  .more_grid-processing{
    margin-top: 300%;
    margin-left: 50px;
  }
  footer{
    margin-top: 350%;
  }
}
@media(max-width: 450px){
  .more_grid-processing{
    margin-top: 320%;
    margin-left: 20px;
  }
  .work_thing img{
    width: 100%;
  }
  .work_thing-text h2{
    font-size: 20px;
  }
  .text_work-block p{
    width: 300px;
  }
  .menu {
    margin-left: 50%;
  }
}
